[build-system]
requires = ["setuptools>=61.2"]
build-backend = "setuptools.build_meta"

[project]
name = "electrolytes"
description = "Electrolyte database manager"
readme = "README.md"
requires-python = ">=3.9"
authors = [{name = "Gabriel S. Gerlero", email = "ggerlero@cimec.unl.edu.ar"}]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Framework :: Pydantic :: 2",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Scientific/Engineering :: Physics",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
    "Typing :: Typed",
]

dependencies = [
    "typer-slim>=0.12.0,<0.13",
    "pydantic>=2.0.3,<3",
    "filelock>=3.12.3,<4",
]

dynamic = ["version"]

[project.optional-dependencies]
lint = ["ruff"]
typing = [
    "mypy==1.*",
    "pytest>=7,<9",
]
test = [
    "pytest>=7,<9",
    "pytest-cov",
]

[project.urls]
Homepage = "https://github.com/microfluidica/electrolytes"
Repository = "https://github.com/microfluidica/electrolytes"

[project.scripts]
electrolytes = "electrolytes.__main__:app"

[tool.setuptools]
packages = ["electrolytes"]

[tool.setuptools.dynamic]
version = {attr = "electrolytes.__version__"}

[tool.setuptools.package-data]
electrolytes = [
    "*.json",
    "py.typed",
]

[tool.mypy]
plugins = ["pydantic.mypy"]
packages = [
    "electrolytes",
    "tests",
]
strict = true

[tool.ruff.lint]
extend-select = ["ALL"]
extend-ignore = [
    "BLE001",
    "C901",
    "COM812",
    "D",
    "E501",
    "FA100",
    "ISC001",
    "PLR0913",
    "S101",
]
